// В этом файле должны быть стили для БЭМ-блока checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkbox {
	display: flex;
	gap: 1rem;
	&__input {
		opacity: 0;
		position: absolute;
	}
	&__fake-input {
		border: .1rem solid var(--border-dark);
		flex: 0 0 auto;
		height: 1.2rem;
		margin: .3rem 0;
		transition: border .25s ease;
		width: 1.2rem;
	}
	&__input:focus + &__fake-input {
		outline: 1rem solid var(--back-primary);
	}
	&__input:checked + &__fake-input {
		border: .4rem solid var(--accent-blue);
	}
	&__label {
		@include checkbox-label;
		user-select: none;
	}
}
