//- Стандартный шаблон страницы
include mixins.pug

- pageTitle = 'title'
- metaDescription = 'description'
- metaKeywords = 'keywords'

block variables

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='google', content='notranslate')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')

		link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
		meta(name='apple-mobile-web-app-title' content='title')
		meta(name='application-name' content='Name')
		meta(name='msapplication-TileColor' content='#0069b4')
		meta(name='theme-color' content='#0069b4')

		title= pageTitle

		block meta
			meta(name='description', content= metaDescription)
			meta(name='keywords', content= metaKeywords)

		block head
			link(rel='stylesheet' href='css/style.css')

	body(data-state)
		noscript У вас отключён JavaScript

		.page
			.page__main
				block pageMain
					.fake-content fake-content

		block templates

		script(src='js/bundle.js')

		block scripts
