// В этом файле должны быть стили для БЭМ-блока registration, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.registration {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	@media screen and (min-width: $screen-d) {
		padding: 10rem 4rem;
	}
	&__inner {
		max-width: calc(100% - 3.2rem);
		width: 100%;
		@media screen and (min-width: $screen-d) {
			max-width: 144rem;
		}
	}
	&__window {
		background: var(--back-secondary);
		box-shadow: var(--shadow-default);
		display: flex;
	}
	&__illustration-col {
		display: none;
		flex: 1 1 auto;
		max-width: 76rem;
		position: relative;
		@media screen and (min-width: $screen-t) {
			display: block;
		}
	}
	&__cover {
		display: block;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
	&__form-col {
		flex: 1 1 auto;
		padding: 11rem 8rem 11rem 7rem;
	}
	&__logo {
		fill: var(--front-invert);
		height: 2.7rem;
		left: 5rem;
		position: absolute;
		top: 4.4rem;
		width: 12.7rem;
	}
	&__title {
		@include reg-title;
		margin: 0 0 2rem;
	}
	&__subtitle {
		@include reg-subtitle;
		margin: 0 0 1.5rem;
	}
	&__descr {
		@include reg-descr;
		margin: 0 0 5.5rem;
		&_small {
			color: var(--front-secondary);
			@include reg-descr-small;
			margin: 0 0 4.8rem;
		}
	}
	&__devider {
		margin: 5rem 0;
	}
	&__row {
		margin-bottom: 6rem;
	}
	&__social-set {
		display: grid;
		gap: 4rem;
		grid-template-columns: 1fr 1fr;
	}
	&__radio-set {
		display: flex;
		gap: 4rem;
		margin-bottom: 14.5rem;
	}
}
