// В этом файле должны быть стили для БЭМ-блока radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.radio {
	align-items: center;
	display: flex;
	gap: 1.2rem;
	&__input {
		opacity: 0;
		position: absolute;
	}
	&__fake-input {
		border: .1rem solid var(--border-dark);
		border-radius: 50%;
		height: 1.7rem;
		transition: border .25s ease;
		width: 1.7rem;
	}
	&__input:focus + &__fake-input {
		outline: 1rem solid var(--back-primary);
	}
	&__input:checked + &__fake-input {
		border: .4rem solid var(--accent-blue);
	}
	&__label {
		align-items: center;
		display: flex;
		@include radio-label;
		gap: .2rem;
		user-select: none;
	}
	&__info {
		cursor: pointer;
		padding: .3rem;
		position: relative;
	}
	&__icon {
		height: 1rem;
		width: 1rem;
	}
	&__message {
		background: var(--back-secondary);
		border-radius: .8rem;
		box-shadow: var(--shadow-default);
		@include radio-message;
		opacity: 0;
		padding: 1rem;
		pointer-events: none;
		position: absolute;
		transform: translate(2rem, -1rem);
		transition: all .25s ease;
		width: calc(100vw - 18rem);
		z-index: 2;
		@media screen and (min-width: $screen-t) {
			padding: 1rem 1.2rem 1.5rem;
			transform: translate(-40%, 3rem);
			width: 26rem;
		}
		@media screen and (min-width: $screen-ti) {
			transform: translate(-50%, 3rem);
		}
	}
	&__info:hover &__message {
		opacity: 1;
		transform: translate(2rem, -2rem);
		@media screen and (min-width: $screen-t) {
			transform: translate(-40%, 2.5rem);
		}
		@media screen and (min-width: $screen-ti) {
			transform: translate(-50%, 2.5rem);
		}
	}
	&:last-child &__info &__message {
		@media screen and (min-width: $screen-t) and (max-width: $screen-d - 1) {
			transform: translate(-80%, 3rem);
		}
	}
	&:last-child &__info:hover &__message {
		@media screen and (min-width: $screen-t) and (max-width: $screen-d - 1) {
			transform: translate(-80%, 3rem);
		}
	}
}
